# macOS
.DS_Store

# MT5
*.ex5
*.log
*.tmp

# VSCode Extensions
.cache/
.mql-auto-forwards/
compile_commands.json

# Optional
.vscode/ipch/

# Experts
Experts/*
!Experts/TGK/

# ignore all Include folders except Include/BotTrade
Include/*
!Include/BotTrade/
